.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #f171b1;
}

table {
  color: rgb(94, 83, 143);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #ecee69;
}

.header-row {
    background: #5e7e9e;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}