<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style=color:blueviolet>
    {{name}}'s First Angular Project: Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="http://i.ebayimg.com/images/i/221860607443-0-1/s-l1000.jpg">
</div>
<p>Q: If a rectangle has length of {{rectangle.length}} cm, and width of {{rectangle.width}} cm, 
  then its area is {{rectangle.area()}} cm^2.
</p>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://google.com">Google</a></h3>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

